@page "/allefrivillige"
@using festivalprojekt.Client.Services;
@using festivalprojekt.Shared.Models;
@using System;
@using System.Globalization;


<PageTitle>Alle frivllige</PageTitle>
<div class="d-flex justify-content-center">
    <h3>Alle frivillige</h3>
</div>


<div>

    <h5> <br /> Frivillig </h5>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Fødselsdag</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Kompetencer</th>
                <th> </th>
            </tr>
        </thead>

        <!--går igennem ledigevagterliste og laver en tabel-->
        <tbody>
            @foreach (var frivillig in frivilligListe)
            {
            <tr>
                <td>@frivillig.Fornavn</td>
                <td>@frivillig.Efternavn</td>
                <td>@frivillig.RealF.Value.ToString("dd.MMMMM yyyyy")</td>
                <td>@frivillig.Email</td>
                <td>@frivillig.Telefon</td>
                <td>
                    @foreach (var kompetence in frivillig.KompetenceNavn)
                    {

                        <ul>
                            <li>
                                @kompetence
                            </li>
                        </ul>
                    }
                            </td>
                <td><button type="button" class="btn btn-primary">Send mail</button></td>
            </tr>

            }
        </tbody>
    </table>

</div>

<div>

    <h5> <br /> Frivillig koordinator </h5>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Fødselsdag</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Kompetencer</th>
                <th> </th>
            </tr>
        </thead>

        <!--går igennem ledigevagterliste og laver en tabel-->
        <tbody>
            @foreach (var koordinator in frivilligKoordinatorListe)
            {
                <tr>
                    <td>@koordinator.Fornavn</td>
                    <td>@koordinator.Efternavn</td>
                    <td>@koordinator.RealF</td>
                    <td>@koordinator.Email</td>
                    <td>@koordinator.Telefon</td>
                    <td>
                        @foreach (var kompetence in koordinator.KompetenceNavn)
                        {

                            <ul>
                                <li>
                                    @kompetence
                                </li>
                            </ul>
                        }
                    </td>
                    <td><button type="button" class="btn btn-primary">Send mail</button></td>
                </tr>

            }
        </tbody>
    </table>

</div>



@code {


    public List<PersonDTO> frivilligListe = new List<PersonDTO>();
    public List<PersonDTO> frivilligKoordinatorListe = new List<PersonDTO>();
    public List<PersonDTO> personListeUsorteret = new List<PersonDTO>();

    public int ErrorCode { get; set; }


    [Inject]
    public IPersonService Service { get; set; }

    //personListeUsorteret henter alle personer.
    //derefter hentes alle frivillige (bliver sorteret på RolleId som er 1) og frivillige koordinatorer (bliver sorteret på RolleId som er 2)
    protected override async Task OnInitializedAsync()
    {
        personListeUsorteret = (await Service.HentAllePersoner()).ToList();

        frivilligListe = personListeUsorteret.FindAll(x => x.RolleId == 1);
        foreach (var frivillig in frivilligListe)
        {
            frivillig.RealF = DateTime.ParseExact(frivillig.Fødselsdag.Substring(0, 19), "yyyy-MM-dd H:mm:ss", CultureInfo.InvariantCulture);
        }


        frivilligKoordinatorListe = personListeUsorteret.FindAll(x => x.RolleId == 2);
        
        foreach (var koordinator in frivilligKoordinatorListe)
        {
            koordinator.RealF = DateTime.ParseExact(koordinator.Fødselsdag.Substring(0, 19), "yyyy-MM-dd H:mm:ss", CultureInfo.InvariantCulture);
        }
        

    }

}
