@page "/home"
@using festivalprojekt.Shared.Models;
@using System;
@using festivalprojekt.Client.Services;
@using System.Globalization;

@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<PageTitle>Home</PageTitle>
<h1>Velkommen!</h1>

@if (r_id == 0)
{
    <div class="alert alert-warning" role="alert">
        <strong>Hov!</strong><br />Du mangler at logge ind.<Button class="btn-default" @onclick="@TestLoginPage">Login</Button>  
    </div>
}

@if (r_id == 1)
{
    <div class="center">
        <button class="button" @onclick="@BookVagtPage">Book vagter</button>
        <button class="button" @onclick="@DineVagterPage">Se dine vagter</button>
    </div>
}

@if (r_id == 2)
{
        <button class="button" @onclick="@BookVagtPage">Book vagt</button>
        <button class="button" @onclick="@DineVagterPage">Se dine vagter</button>
        <button class="button" @onclick="@AlleFrivilligePage">Se frivillige</button>
        <button class="button" @onclick="@OverblikPage">Overblik</button>
}


@code{
    public int r_id;
    public int p_id;

    protected override async Task OnInitializedAsync()
    {
        r_id = await sessionStorage.GetItemAsync<int>("RolleId");
        p_id = await sessionStorage.GetItemAsync<int>("PersonId");

    }

    public void TestLoginPage()
    {
        NavigationManager.NavigateTo("/");
    }

    public void BookVagtPage()
    {
        NavigationManager.NavigateTo("/ledigevagter");
    }

    public void DineVagterPage()
    {
        NavigationManager.NavigateTo("/dinevagter");
    }

    public void AlleFrivilligePage()
    {
        NavigationManager.NavigateTo("/allefrivillige");
    }

    public void OverblikPage()
    {
        NavigationManager.NavigateTo("/overblikkoordinator");
    }

}
